@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #011015;
  font-size: 13px;
  line-height: 19px;
  font-family: "Nunito", sans-serif;
}

.controldiv {
  max-width: 300px;
}

.ring {
  border: 0px solid #011015;
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 3s linear infinite;
}
.ring:nth-child(2) {
  border-top-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 3s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
